body {
    margin: 0;
    padding: 0;
    font-family: 'Regular 400';
}

body {
    background: #f5d38b;
}

.container {
    height: 100vh;
    max-width: 500px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

a {
    text-decoration: none;
}

.btn {
    width: 200px;
    height: 60px;
    padding: 15px 0;
    margin: 20px 20px;
    box-sizing: border-box;
    background: none;
    border: 4px solid;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    color: #d64747;
    position: relative;
    transition: 1s;
}

.btn::before,
.btn::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 4px;
    background: #e90707;
    transform: skewX(50deg);
    transition: 0.7s linear;
}

.btn::before {
    top: -4px;
    left: 10%;
}

.btn::after {
    bottom: -4px;
    right: 10%;
}

.btn:hover::before {
    left: 80%;
}

.btn:hover::after {
    right: 80%;
}

.btn:hover {
    color: #5101e7;
    box-shadow: 0 0 10px #ce1010, 0 0 20px;
}